# Tắt directory listing

Options -Indexes

# Set UTF-8 charset for all content
AddDefaultCharset UTF-8
AddCharset UTF-8 .html .htm .php .txt .css .js

# Chặn các file nhạy cảm theo tên

<FilesMatch "^(configs\.php|includes\.php|layout\.php)$">
Require all denied
</FilesMatch>

# Chặn các file theo đuôi (.sql, .env, .md)

<FilesMatch "\.(sql|env|md)$">
Require all denied
</FilesMatch>
