/* Navbar fix */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Banner carousel */
.carousel-item img {
  height: 800px;
  object-fit: cover;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Product card */
.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.product-img {
  height: 220px;
  object-fit: cover;
}

/* Footer */
.footer {
  background: #222;
  color: #bbb;
}
.footer a {
  color: #bbb;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Roboto", Arial, sans-serif;
}

h2 span {
  vertical-align: baseline;
}

#dynamic {
  vertical-align: baseline;
  line-height: 1;
}

.product-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}

.product-category {
  color: #007bff;
}

.product-texts {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.product-texts .card-title {
  font-weight: bold;
  margin-bottom: 0 !important;
}

.text-link {
  text-decoration: none;
}

.text-link:hover {
  color: #007bff;
}

/* Navbar link span */
.navbar-nav .nav-link span {
  position: relative;
  display: inline-block;
  padding-bottom: 2px; /* tạo khoảng cách cho underline */
}

/* Tạo gạch chân */
.navbar-nav .nav-link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* độ dày gạch chân */
  background-color: white; /* màu vàng bootstrap warning */
  transition: width 0.3s ease;
}

/* Khi hover hoặc active */
.navbar-nav .nav-link:hover span::after,
.navbar-nav .nav-link.active span::after {
  width: 100%;
}

.sidebar {
  height: 100vh;
  color: #fff;
}

.sidebar a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
}

.dashboard-content {
  padding: 20px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Small (≥576px) */
@media (max-width: 576px) {
  .dashboard-content {
    overflow: hidden;
  }
}

/* Medium (≥768px) */
/* @media (min-width: 768px) { ... } */

/* Large (≥992px) */
/* @media (min-width: 992px) { ... } */

/* Extra large (≥1200px) */
/* @media (min-width: 1200px) { ... } */

/* Extra extra large (≥1400px) */
/* @media (min-width: 1400px) { ... } */

.card-icon {
  font-size: 2.5rem;
  color: #0d6efd;
}

.sidebar-link {
  border-radius: 0 10px 10px 0;
  text-wrap: nowrap;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: #007bff;
}

.table-list-manage {
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.table-dark tr th {
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần dư */
  text-overflow: ellipsis; /* Hiện dấu ... */
}
